.gallery {
    width: 95vw;
    margin: 0 auto 5rem auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.gallery-item,
.gallery-img {
    height: 45vh;
    width: 45vw;
}

.gallery-item {
    margin: 3rem 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.gallery-img {
    object-fit: cover;
    border: 10px solid rgba(0, 129, 250, 0.5);
    border-radius: 5px;
}

.open-image-btn {
    width: 20vw;
    border: none;
    border-radius: 5px;
    padding: 5px;
    color: white;
    background: rgb(0, 129, 250);
    z-index: 1000;
    cursor: pointer;
}

@media only screen and (max-width: 800px) {
    .gallery {
        display: flex;
        flex-direction: column;
    }

    .gallery-item,
    .gallery-img {
        height: 90vh;
        width: 90vw;
    }
}
